<mat-card>
  <mat-card-content>
    <p>This exam contains 3 different tasks (one of which is optional) that you may complete in any order you
      desire.</p>
    <p>Each task contains its own <strong>README</strong> file explaining its objective and restrictions which can be
      found in the <strong>instructions</strong> sub-directory for each of the task's respective folders.</p>
    <p>README files:</p>
    <pre>
    1. src/app/components/flex-css/instructions/README.md
    2. src/app/components/contact-list/instructions/README.md
    3. src/app/components/login-ngxs/instructions/README.md
    </pre>
    <p>You may also use the navbar at the top in order to navigate between the different tasks.</p>
    <h2>Good luck!</h2>
  </mat-card-content>
</mat-card>
